.form-row {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.filter-group {
    flex: 1;
    min-width: 15.70rem;
}

    .filter-group label {
        display: block;
        margin-bottom: 0.75rem;
        font-weight: bold;
        color: #007acc;
    }

    .filter-group input,
    .filter-group select {
        width: 100%;
        padding: 0.75rem;
        height: 3rem;
        border: 0.13rem solid #007acc;
        border-radius: 0.60rem;
        background: #e6f7ff;
        color: #333333;
        transition: border-color 0.3s ease, background-color 0.3s ease;
    }

        .filter-group input:focus,
        .filter-group select:focus {
            border-color: #005999;
            background-color: #d1ecff;
        }

.button-group {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    margin-left: 4rem;
    margin-top: 1rem;
}

button,
.icon-button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #007acc, #005999);
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

    button:hover,
    .icon-button:hover {
        background: linear-gradient(45deg, #005999, #007acc);
        transform: scale(1.05);
    }

    .icon-button svg {
        fill: #ffffff;
        height: 24px;
        width: 24px;
        vertical-align: middle;
    }
